<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/addBook.css">
    <title>Add a book</title>
</head>
<body>
    <nav>
        <a href="/" class="nav-link">🏠 Back to Home</a>
    </nav>
    <h1>Add a book of your choice</h1>
    <% if (message) { %>
        <p class="message"><%= message %></p>
    <% } %>

    <form method="POST" action="/add" class="book-form">
        <label for="title">Write a title</label>
        <input id="title" name="title" type="text" class="input-field" />

        <label for="author">Write an author</label>
        <input id="author" name="author" type="text" class="input-field" />

        <label for="year">Write a publication year</label>
        <input id="year" name="publication_year" type="text" class="input-field" />

        <label for="description">Write a description</label>
        <textarea id="description" name="description" class="input-field"></textarea>

        <label for="cover">Place a link to a cover</label>
        <input id="cover" name="cover_image" type="text" class="input-field" />

        <button type="submit" class="submit-button">Add your book</button>
    </form> 
</body>
</html>